@import './assets/css/header.css';
@import './assets/css//middle.css';
@import './assets/css/popup.css';

.container {
  padding: 0 30px;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader p {
  text-align: center;
}

.loader__item {
  width: 100%;
}